<%- include('partials/head', { title: 'Cookie Clicker' }) %>

<body>
    <%- include('partials/header') %>

    <main>
        <div class="game-container">
            <%- include('partials/game/stats-panel') %>
            <%- include('partials/game/cookie-panel') %>
            <%- include('partials/game/upgrades-panel') %>
        </div>
    </main>

<%- include('partials/footer') %>
